env.json
*.iml
.idea
info/*
node_modules/*
!node_modules/cookie
!node_modules/eventemitter3
!node_modules/homey-log
!node_modules/http.min
!node_modules/ip
!node_modules/is-port-reachable
!node_modules/json-stringify-safe
!node_modules/lsmod
!node_modules/macaddress
!node_modules/minimist
!node_modules/p-finally
!node_modules/p-queue
!node_modules/p-timeout
!node_modules/raven
!node_modules/stack-trace
!node_modules/uuid
!node_modules/wake_on_lan
!node_modules/ws
